<!DOCTYPE html>
<html lang="en" dir="ltr">
{{!-- <head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body> --}}
  <h2>Home</h2>
  <p>Welcome to my page!</p>
  {{!-- <img src="UK.png">
</body> --}}
</html>